<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests">
 
 <test name="FirefoxTest">
 
 <parameter name="browser" value="Mozilla" />
 
 <classes>
 
 <class name="testCases.Verify_Instawork_Appearance_in_Google_Search_Result" />
 
 </classes>
 
 </test> 
 
  <test name="ChromeTest">
 
 <parameter name="browser" value="Chrome" />
 
 <classes>
 
  <class name="testCases.Verify_Instawork_Appearance_in_Google_Search_Result" />
 
 </classes>
 
 </test> 
 
</suite>